@font-face {
    font-family: 'Root-UI';
    src: url('../fonts/Root-UI-Bold.ttf');
}

body {
    font-family: 'Root-UI';
    justify-items: center;
    
}

form {
  margin: 1%;
  background: #444;
  padding: 3%;
  border-radius: 15px;
  max-height: fit-content;
}